{% extends "base.html" %}

{% block main %}
<head>
<style>
html {
    min-height: 100%;
}
 
body {
    background: -webkit-linear-gradient(left, #d5e4de, #c44ce9); 
    background: -o-linear-gradient(right, #d37bdb, #c263b2);
    background: -moz-linear-gradient(right, #b453e0, #b376db); 
    background: linear-gradient(to right, #7aadb6, #6ea5ca); 
    background-color: #93B874; 
}
</style>
</head>
<body>
</body>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1 style="color:whitesmoke">Welcome to the COVID-19 Tracking Webpage</h1>
      <h3 style="color:whitesmoke">You can view current COVID-19 case maps, received from "COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University" , using navigation bar on top</h3>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <h4 style="color:whitesmoke">Merve Bedir - 16290010</h4>
    </div>
  </body>

{% endblock %}
